<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3>Create New User:</h3>
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text"
                               class="form-control"
                               id="username"
                               placeholder="Username"
                               v-model="username">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel"
                               class="form-control"
                               id="phone"
                               placeholder="Phone Number"
                               v-model="phone">
                    </div>
                    <button class="btn btn-primary" @click.prevent="create">Create New</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center" v-if="users.length">
            <div class="col-md-10">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Phone Name</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(user, index) in users">
                        <th scope="row">{{index + 1}}</th>
                        <td>{{user.username}}</td>
                        <td>{{user.phone_number}}</td>
                        <td>
                            <button class="btn btn-primary" @click="showUpdateModal(user)">Edit</button>
                            <button class="btn btn-danger" @click="remove(user.id, index)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--Update Modal-->
        <div class="modal" v-if="showModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update User</h5>
                        <button type="button" class="close" @click="closeUpdateModal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" v-if="updateUser">
                        <div class="form-group">
                            <label for="username1">Username</label>
                            <input type="text"
                                   class="form-control"
                                   id="username1"
                                   placeholder="Username"
                                   v-model="updateUser.username">
                        </div>
                        <div class="form-group">
                            <label for="phone1">Phone Number</label>
                            <input type="tel"
                                   class="form-control"
                                   id="phone1"
                                   placeholder="Phone Number"
                                   v-model="updateUser.phone_number">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="update">Update</button>
                        <button type="button" class="btn btn-secondary" @click="closeUpdateModal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: [],
                username: '',
                phone: '',
                showModal: false,
                updateUser: null,
            };
        },
        async mounted() {
            await this.getAllUsers();
        },
        methods: {
            getAllUsers() {
                axios.get('/users').then((res) => {
                    this.users = res.data.data;
                })
            },
            create() {
                axios.post('/user', {'username': this.username, 'phone_number': this.phone}).then((res) => {
                    if (!res.data.status) return;
                    this.username = this.phone = '';
                    this.users.push(res.data.data)
                })
            },
            update() {
                axios.put(`/user/${this.updateUser.id}`, {
                    'username': this.updateUser.username,
                    'phone_number': this.updateUser.phone_number
                }).then((res) => {
                    if (!res.data.status) return;
                    const user = res.data.data;
                    const index = this.users.findIndex(item => item.id === user.id);
                    this.users[index] = Object.assign({}, user);
                    this.closeUpdateModal();
                })
            },
            remove(userId, index) {
                axios.delete(`/user/${userId}`).then((res) => {
                    if (!res.data.data) return;
                    this.users.splice(index, 1);
                })
            },
            showUpdateModal(user) {
                this.showModal = true;
                this.updateUser = Object.assign({}, user);
            },
            closeUpdateModal() {
                this.showModal = false;
                this.updateUser = null;
            }
        }
    }
</script>

<style scoped>
    .modal {
        display: block;
    }
</style>
