<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <label for="link">Link</label>
                <input type="text"
                       class="form-control"
                       id="link"
                       disabled
                       v-model="link">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p class="text-danger">{{message}}</p>
                <button class="btn btn-primary" @click="generateLink">Generate New Link</button>
                <button class="btn btn-primary" @click="deactivateLink">Deactivate Link</button>
                <button class="btn btn-success" @click="getLottery">Im feeling lucky</button>
                <button class="btn btn-success" @click="getHistory">History</button>
            </div>
        </div>
        <div class="row justify-content-center pt-2" v-if="lottery">
            <div class="col-md-6">
                <p class="font-weight-bold mb-0">Lottery result:</p>
                <p class="mb-0">Random number: {{lottery.num}}</p>
                <p class="mb-0">Lottery Result: {{lottery.result}}</p>
                <p v-if="lottery.sum">Lottery Sum: {{lottery.sum}}</p>
            </div>
        </div>
        <div class="row justify-content-center pt-2" v-if="showHistory">
            <div class="col-md-6">
                <p class="font-weight-bold mb-0">Lottery History:</p>
                <table class="table" v-if="history.length">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Number</th>
                        <th scope="col">Result</th>
                        <th scope="col">Sum</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in history">
                        <th scope="row">{{index + 1}}</th>
                        <td>{{item.date}}</td>
                        <td>{{item.num}}</td>
                        <td>{{item.result}}</td>
                        <td>{{item.sum || '--'}}</td>
                    </tr>
                    </tbody>
                </table>
                <p v-else>History is empty</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['hash', 'link'],
        data() {
            return {
                message: '',
                lottery: null,
                showHistory: false,
                history: []
            };
        },
        mounted() {
        },
        methods: {
            generateLink() {
                axios.post(`/link/${this.hash}`).then((res) => {
                    window.location.href = res.data.data.link;
                }).catch((error) => {
                    console.log(error);
                    this.message = error.message;
                });
            },
            deactivateLink() {
                axios.put(`/link/${this.hash}`).then((res) => {
                    this.message = res.data.data.message;
                });
            },
            getLottery() {
                axios.get(`/lottery/${this.hash}`).then((res) => {
                    this.lottery = res.data.data;
                    if(this.showHistory) this.getHistory();
                });
            },
            getHistory() {
                this.showHistory = true;
                axios.get(`/history/${this.hash}`).then((res) => {
                    this.history = res.data.data;
                });
            }
        }
    }
</script>
