<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text"
                               class="form-control"
                               id="username"
                               placeholder="Username"
                               v-model="username">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel"
                               class="form-control"
                               id="phone"
                               placeholder="Phone Number"
                               v-model="phone">
                    </div>
                    <button class="btn btn-primary" @click.prevent="registration">Register</button>
                </form>
                <div v-if="link" class="col-md-12 pt-2 text-center">
                    <h3>Your access link:</h3>
                    <a :href="link">{{link}}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                username: '',
                phone: '',
                link: ''
            };
        },
        methods: {
            registration() {
                axios.post('registration', {'username': this.username, 'phone_number': this.phone}).then((res) => {
                    this.username = this.phone = '';
                    this.link = res.data.data.link;
                })

            }
        }
    }
</script>
